.card-table-container {
  margin-bottom: 1rem;
}
.card-table-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.card-table {
  margin: 0 auto;
  text-align: left;
  font-size: 0.9em;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-table thead tr {
  background-color: rgb(219, 226, 239, 0.8);
  text-align: left;
}

.card-table th,
.card-table td {
  padding: 0.8rem 0.4rem;
}

.card-table td:last-child {
  text-align: center;
}
