.home {
  background-color: rgb(219, 226, 239);
  text-align: center;
  padding-bottom: 5rem;
}
.home-title {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding-top: 2.5rem;
}
.home-slogan {
  margin-top: 0;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.8);
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

/* 機能紹介部分 */
.features {
  margin-top: 2.5rem;
}
.features-title {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
.features-list {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: left;
  padding-left: 0.6rem;
}
.features-list-container {
  width: 80%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.2rem;
}
.features-list-title {
  font-size: 1.3rem;
}
.features-list-txt {
  font-size: 0.8rem;
}

@media screen and (max-width: 580px) {
  .home-title {
    font-size: 2rem;
  }
  .home-slogan {
    font-size: 1.1rem;
  }
  .features-title {
    font-size: 1.3rem;
  }
  .features-list-container {
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.2rem;
  }
}
