.home {
  height: 77vh;
  background-color: rgb(219, 226, 239);
  text-align: center;
  padding-bottom: 5rem;
}
.home-title {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding-top: 2.5rem;
}
.home-slogan {
  margin-top: 0;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.8);
}
