@import-normalize;
body {
  margin: 0;
  background-color: rgb(249, 247, 247);
}

.container {
  max-width: 2800px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(63, 114, 175);
  padding: 0 10px;
}

.header-links {
  display: flex;
  justify-content: space-between;
  width: 250px;
  font-size: 1.5rem;
  list-style: none;
}

.header-link {
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 30px;
  color: rgb(219, 226, 239);
}

.home-register-btn {
  border-radius: 10px;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}
.home-register-btn:hover {
  border: none;
  color: black;
}
.home-register-btn:focus {
  box-shadow: none;
}

.form-container {
  margin: 3rem 0;
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.form-group {
  max-width: 50%;
  margin: 1rem auto;
}
.form-group:last-child {
  margin-top: 2rem;
}

.form-group label {
  display: block;
  width: 40%;
  text-align: left;
  margin-bottom: 0.2rem;
}
.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-group input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243, 0.4) inset;
}
